<h1> Cuentas Bancarias</h1>
<br>
<div class="col-md-4 col-md-offset-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Filrar por dni" ng-model="dni">
        <span class="input-group-btn">
            <button  ng-click="filtrarDni()" class="btn btn-default" type="button" >Buscar <i class="glyphicon glyphicon-search"></i></button>
        </span>
    </div>
    <br/>

    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>Entidad</th>
                <th>Sucursal</th>
                <th>DC</th>
                <th>Número de Cuenta</th>
                <th>Saldo</th>
            </tr>
        </thead>

        <tbody >
            <tr  ng-repeat="cuentaBancaria in cuentasBancarias">
                <td>{{cuentaBancaria.sucursalBancaria.entidadBancaria.codigoEntidad}}</td>
                <td>{{cuentaBancaria.sucursalBancaria.codigoSucursalBancaria}}</td>
                <td> {{cuentaBancaria.digitoControl}}</td>
                <td><a class="tooltipp" href="#/updateCuenta/{{cuentaBancaria.idCuentaBancaria}}">{{cuentaBancaria.numeroCuenta}}<span>Pulse aquí para ver más detalles.</span></a></td>
                <td> {{cuentaBancaria.saldo}} €</td>

            </tr>
        </tbody>
    </table>

    <a href="#/insertCuenta"><button class="btn btn-sm btn-primary">Insertar cuenta</button></a>

    <br/> <br/>
    <div  class="alert alert-danger" ng-repeat="businessMessage in businessMessages"><span class="glyphicon glyphicon-exclamation-sign"></span> {{businessMessage.fieldName}}: {{businessMessage.mensaje}}</div>

</div>
