<h1>Detalle Cuenta Bancaria</h1>
<div class="col-md-4 col-md-offset-4">
    <form role="form">

        <div class="form-group">
            <label>Número de Cuenta</label>
            <input type="text" class="form-control" placeholder="Número de Cuenta" name="numeroCuenta" ng-model="cuentaBancaria.numeroCuenta" ng-disabled="(tipo === 'UPDATE')" ng-value="{{cuentaBancaria.numeroCuenta}}">
        </div>

        <div class="form-group">
            <label>Dígito de Control</label>
            <input type="text" class="form-control" placeholder="Dígito de Control" name="digitoControl" ng-model="cuentaBancaria.digitoControl" ng-disabled="true" ng-value="{{cuentaBancaria.digitoControl}}">
        </div>

        <div class="form-group">
            <label>Nombre de Usuario</label> <br />
            <select ng-model="cuentaBancaria.usuario" ng-options="usuario as usuario.nombre for usuario in usuarios track by usuario.nombre">
                <option value=""> -- Elige una Opción -- </option>
            </select>
        </div>

        <div class="form-group">
            <label>Código de Sucursal Bancaria</label> <br />
            <select ng-model="cuentaBancaria.sucursalBancaria" ng-options="sucursalBancaria as sucursalBancaria.codigoSucursalBancaria for sucursalBancaria in sucursalesBancarias track by sucursalBancaria.codigoSucursalBancaria" ng-disabled="  (tipo === 'VIEW')">
                <option value=""> -- Elige una Opción -- </option>
            </select>
        </div>

        <div class="form-group">
            <label>Saldo</label>
            <input type="text" class="form-control" placeholder="saldo" name="saldo" ng-model="cuentaBancaria.saldo"  ng-value="{{cuentaBancaria.saldo}}"/>
        </div>

        <div class="form-group">
            <label>Fecha de creación </label><span class="glyphicon glyphicon-calendar"></span>
            <input id="fechaCreacion" ui-date="{dateFormat:'dd/mm/yy'}" readonly type="text" class="form-control" placeholder="Fecha de creacion"  name="fechaCreacion" ng-model="cuentaBancaria.fechaCreacion" ng-value="{{cuentaBancaria.fechaCreacion}}">
        </div>



        <input ng-click="ok()" class="btn btn-sm btn-success" type="submit" value="{{okBoton}}"/> 
        <input ng-click="delete()" class="btn btn-sm btn-warning" type="submit" value="{{deleteBoton}}" ng-hide="(tipo === 'INSERT')"> 
        <input ng-click="cancel()" class="btn btn-sm btn-primary" type="submit" value="Volver"/>

    </form>

</div>

<div  class="alert alert-danger" ng-repeat="businessMessage in businessMessages"><span class="glyphicon glyphicon-exclamation-sign"></span> {{businessMessage.fieldName}}: {{businessMessage.mensaje}}</div>


<div class="col-md-3 col-md-offset-3" ng-hide="(tipo === 'INSERT')">
    <div class="row" >
        <div id="detalle_movimientos" class="col-md-4 col-md-offset-3" >
            <table class="table table-striped table-hover" >
                <thead ng-disabled="(tipo === 'INSERT')">
                    <tr class="success">
                        <th>idMovimientoBancario</th>
                        <th>Tipo Movimiento</th>
                        <th>Concepto</th>
                        <th>Importe</th>
                        <th>Saldo Anterior</th>
                        <th>Saldo Posterior</th>
                        <th>Fecha </th>
                    </tr>
                </thead>

                <tbody>
                    <tr  ng-repeat="movimiento in movimientos">
                        <td> {{movimiento.idMovimientoBancario}}</td>
                        <td> {{movimiento.tipoMovimiento}}</td>
                        <td> {{movimiento.concepto}}</td>
                        <td> {{movimiento.importe}}</td>
                        <td> {{movimiento.saldoAnterior}}</td>
                        <td> {{movimiento.saldoPosterior}}</td>
                        <td> {{movimiento.fechaMovimiento| date:'dd/MMMM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>

            <a href="#/insertMovimiento"><button class="btn btn-sm btn-primary">Insertar movimiento</button></a>

        </div>
    </div>
</div>


