<div class="col-md-4 col-md-offset-4">
<form role="form">
  
    <div class="form-group">
        <label>Nombre del Titular</label>
        <input type="text" class="form-control" placeholder="Nombre del Titular" name="nombreTitular"  ng-model="cuentaBancaria.nombreTitular"ng-disabled=" (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{cuentaBancaria.nombreTitular}}">
    </div>
  
    <div class="form-group">
        <label>Número de Cuenta</label>
        <input type="text" class="form-control" placeholder="Número de Cuenta" name="nCuenta" ng-model="cuentaBancaria.nCuenta"ng-disabled="  (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{cuentaBancaria.nCuenta}}">
    </div>
  
    <div class="form-group">
        <label>Usuario</label>
        <input type="text" class="form-control" placeholder="Usuario"  name="usuario" ng-model="cuentaBancaria.usuario" ng-disabled="  (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{cuentaBancaria.usuario}}">
    </div>
    
    <div class="form-group">
        <label>Sucursal Bancaria</label>
        <input type="text" class="form-control" placeholder="Sucursal Bancaria" name="sucursalBancaria" ng-model="cuentaBancaria.sucursalBancaria"ng-disabled="  (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{cuentaBancaria.sucursalBancaria}}"/>
    </div>
    
    <div class="form-group">
        <label>Saldo</label>
        <input type="text" class="form-control" placeholder="saldo" name="saldo" ng-model="cuentaBancaria.saldo" ng-disabled=" (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{cuentaBancaria.saldo}}"/>
    </div>
  
  <input ng-click="ok()" class="btn btn-sm btn-primary" type="submit" value="{{okBoton}}"/> <input ng-click="cancel()" class="btn btn-sm btn-danger" type="submit" value="cancel"/><br><br>
</form>
    
<div  class="alert alert-danger" ng-repeat="businessMessage in businessMessages"><span class="glyphicon glyphicon-exclamation-sign"></span> {{businessMessage.fieldName}}: {{businessMessage.mensaje}}</div>
</div>