body{
    font-family: 'Montserrat', sans-serif;
}

.variante{
    margin-top: 100px;
}

footer{
    color: white;
    background-color: #0C816A !important;
    position: fixed;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    bottom: 0;
    text-align: center;
}

.navbar-fixed-top {
    background-color: #0C816A !important;

}

/* Barra Navegaci칩n Letra Blancas */
.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-nav>li>a{
    color: white !important;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: darkgray !important;
}

span.ui-icon.ui-icon-circle-triangle-w {
    color: black;
}

h1{
    text-align: center;
}

#fechaCreacion{
    background-color: white;
}


a.tooltipp span {
    display:none;
    padding:2px 3px;
    margin-left:8px; 
    width:130px; /*el ancho del tooltip*/
}
a.tooltipp:hover span {
    text-align: center;
    display: inline; 
    position: absolute; /* posici칩n del tooltip necesaria y obligatoria*/
    background: #dff0d8 ; /*el color del fondo del tooltip*/
    border: 1px solid #c6dcf0; /*el color del borde y su estilo*/
    color: black;  /*el color de la letra del tooltip*/
    font-size: 12px;  /*el tama침o de la letra*/
    line-height: 120%;  /*la separaci칩n entre lineas*/
}

button.btn.btn-default{
    background-color: #DFF0D8;
}

#errores{
    margin-bottom: 70px;
}

input.btn.btn-sm.btn-error{
    float: right;
}

#btnSearch{
    background-color: #DFF0D8;
}

.row{
    margin-right: 0px;
}